$color-main: #031961;
$color-text: #231f20;
$color-bg-text: #231f20;
$color-text-gray: #676767;
$color-gray: #d1d5db;
$color-light-gray: #dfdfdf;
$color-gray-opacity: rgb(209 213 219 / 30%);
$color-background: #f9fafb;
$color-background-white: #fff;
$color-acent-400: #8194f8;
$color-acent-500: #e9e9ed;
$color-acent-600: #d0d0d7;
$color-destructive: #db0000;
$color-border: #111827;
$color-orange: #f9a825;
$color-green: #c1fbc2;
$color-divider: #c3c3c3;
$color-status-orange: #f07300;
$color-status-yellow: #f9d100;
$color-status-green: #009d10;
$color-status-red: $color-destructive;
$color-status-dark-red: #6f0000;
$gray-opacity: rgb(223 223 223 / 50%);
$shadow-basis: 0 0 17px -9px rgb(34 60 80 / 27%);
$shadow-basis-bold: 0 0 10px 2px #0003, 0 0 10px #0000003d;
$border-basis: 1px solid $color-border;
$border-radius-basis: 4px;
$gap: 0.8rem;
$padding-input: 0.3rem;
$padding-basis: 1rem;
$main-font: 'PT Sans';
$secondary-font: 'PT Serif';
$inter-font: 'Inter';
